<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1><a href="{% url 'list_post' %}">My Post</a></h1>
        </header>
        <nav class="mb-4">
            <!-- Navigation content -->
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="mt-4">
            <p>Intern: 2024 My Post</p>
        </footer>
    </div>
</body>
</html>
