internpj/.env
internpj/__pycache__
destination/__pycache__
destination/migrations
posts/__pycache__
posts/migrations
staticfiles
maps/migrations
maps/__pycache__
library/migrations
library/__pycache__
journey/migrations
journey/__pycache__