{% extends "base.html" %}
{% load static %}
{% block content %}
  <form action="{% url 'create_journey' %}"
        method="post"
        enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="journeyName" class="form-label">Tên hành trình</label>
      <input type="text"
             class="form-control"
             id="journeyName"
             name="journeyName"
             placeholder="Nhập tên điểm đến" />
    </div>
    <div class="mb-3">
      <label for="journeyDescription" class="form-label">Mô tả</label>
      <textarea class="form-control"
                id="journeyDescription"
                name="journeyDescription"
                rows="3"
                placeholder="Nhập mô tả điểm đến"></textarea>
    </div>
    <div class="mb-3">
      <label for="journeyTags" class="form-label">Tag (Ngăn cách bởi dấu phẩy)</label>
      <input type="text"
             class="form-control"
             id="journeyTags"
             name="journeyTags"
             placeholder="Nhập tag" />
    </div>
    <div class="mb-3">
      <label for="journeyImage" class="form-label">Hình ảnh</label>
      <input type="file"
             class="form-control"
             id="journeyImage"
             name="journeyImage"
             placeholder="Tải hình ảnh lên" />
    </div>
    <div class="mb-3">
      <label for="journeySong" class="form-label">Đường dẫn bài hát (link YouTube)</label>
      <input type="url"
             class="form-control"
             id="journeySong"
             name="journeySong"
             placeholder="Nhập đường dẫn bài hát" />
    </div>
    <table id="example"
           class="table table-bordered nowrap table-striped align-middle"
           width="100%">
      <thead>
        <tr>
          <th scope="col" width="10px">
            <div class="form-check">
              <input class="form-check-input fs-15"
                     type="checkbox"
                     id="checkAll"
                     value="option">
            </div>
          </th>
          <th data-ordering="false">Tên</th>
          <th data-ordering="false">Ảnh</th>
          <th data-ordering="false">Địa Chỉ</th>
          <th data-ordering="false">Tag</th>
          <th data-ordering="false">Ngày Tạo</th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
          <tr>
            <th scope="row">
              <div class="form-check">
                <input class="form-check-input fs-15"
                       type="checkbox"
                       name="locations"
                       value="{{ location.id }}">
              </div>
            </th>
            <td>{{ location.name }}</td>
            <td>
              <img src="{{ location.first_image }}"
                   alt=""
                   border="3"
                   height="100"
                   width="100" />
            </td>
            <td>{{ location.address }}</td>
            <td>{{ location.tags.all|join:', ' }}</td>
            <td>{{ location.created_at|date:'F d, Y' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <br />
    <div class="text-end">
      <button type="submit" class="btn btn-primary">Thêm</button>
    </div>
  </form>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if success %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Thành công!',
          text: '{{ success }}',
          showConfirmButton: false,
          timer: 1500,
          backdrop: false
        })
      })
    </script>
  {% endif %}
  {% if error %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        Swal.fire({
          position: 'top-end',
          icon: 'error',
          title: 'Oops...!',
          text: '{{ error }}',
          showConfirmButton: false,
          timer: 1500,
          backdrop: false
        })
      })
    </script>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <!--datatable js-->
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
{% endblock content %}
